<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<h1>Edit Book: {{ book_info.title }}</h1>

		<form action="{{ url_for('edit_book', genre=genre, book_id=book_info.id) }}" method="POST">

			<p>Title:</p>
			<input type="text" size="30" name="title" value="{{ book_info.title }}">
			
			<p>Author:</p>
			<input type="text" size="30" name="author_last_name" value="{{ book_info.author_last_name }}">
			<input type="text" size="30" name="author_first_name" value="{{ book_info.author_first_name }}">

			<p>Genre:</p>
			<select name="genre" >
				{% for i in genres %}
				<option value="{{ i }}" {% if i == book_info.genre %} selected="{{ book_info.genre }}"{% endif %}>{{ i }}</option>
				{% endfor %}
			</select>

			<p>Pages:</p>
			<input type="text" size="10" name="pages" value="{{ book_info.pages }}">

			<p>Date I finished reading:</p>
			<input type="date" name="date_finished" value="{{ book_info.date_finished }}">

			<p>Synopsis:</p>
			<!-- <input type="text" size="100" name="synopsis" value="{{ book_info.synopsis }}"> -->
			<textarea rows="4" cols="50" name="synopsis">{{ book_info.synopsis }}</textarea>

			<br><br>
			<input type="submit" value="Update">
			
		</form>

</body>
</html>
